body {
  font-family: Arial, sans-serif;
  background: #555555;
}

.container {
  padding: 20px;
  text-align: center;
}

select {
  padding: 8px;
  margin: 20px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background: rgb(255, 241, 241);
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.3s;
}