body {
    text-align: center;
    font-family: Arial;
}

#svgCanvas {
    width: 90%;
    height: 60vh;
    border: 1px solid black;
    background: #f5f5f5;
    cursor: crosshair;
}

#controls {
    margin-top: 20px;
}